---
import { getCategories } from '@utils/post';
import type { Category } from 'src/schemas/category';

type Props = Record<string, never>; // eslint-disable-line @typescript-eslint/no-unused-vars
const categories: Category[] = await getCategories();
---

{
    categories.map((category) => (
        <div class="mb-3 flex items-center justify-between leading-tight">
            <a
                href={`/blog/category` + `/${category.id}/`}
                title={category.data.title}
                class="border-primary border-l-4 pl-3 capitalize"
                data-astro-prefetch="hover"
            >
                {category.data.title}
            </a>
            <div class="footer-arrow" />
        </div>
    ))
}
