---
type Props = Record<string, never>; // eslint-disable-line @typescript-eslint/no-unused-vars
---

<section class="giscus mx-auto mt-10 w-full"></section>
<script
    src="https://giscus.app/client.js"
    data-repo="anarion80/astro-simply"
    data-repo-id="R_kgDOMyRoiA"
    data-category="General"
    data-category-id="DIC_kwDOMyRoiM4CizO3"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
    data-astro-rerun></script>
